
<div class="flex flex-wrap justify-center md:flex-nowrap md:justify-start md:space-x-8 my-12 px-4 md:px-0 items-center w-full">
  <div class="w-56 md:w-96">
    <%= image_tag 'profile.jpg', class: "rounded-full" %>
  </div>
  <div class="space-y-4 w-full mt-4 md:mt-0 text-center md:text-left">
    <h1 class="text-4xl md:text-5xl font-bold">About me</h1>
    <div class="flex justify-center md:justify-start space-x-4 text-3xl text-gray-500">
      <a href="" class="hover:text-gray-700"><i class="fab fa-linkedin"></i></a>
      <a href="" class="hover:text-gray-700"><i class="fab fa-twitter"></i></a>
      <a href="" class="hover:text-gray-700"><i class="fab fa-github"></i></a>
    </div>
  </div>
</div>

<div class="prose prose-yellow max-w-none px-4 md:px-0 my-12">
  <h2>Career</h2>
  <p>
    I am currently an associate at a strategy consulting firm, <a href="https://lek.com">L.E.K. Consulting</a>,
    in Los Angeles. Before that I was a full-stack software engineer (Ruby / Rails) for a small Utah healthtech startup called 
    <a href="https://www.orcahealth.com">Orca Health</a>. I studied Math at BYU and towards the end of my degree realized 
    I loved programming, and have been doing it ever since.
  </p>
  <p>
    I often get the question "why did you switch to consulting from engineering if you loved to code?". Great question,
    I'm still trying to figure that out. The biggest reason was that my wife was pregnant and I couldn't handle
    the uncertainty of working for a startup. 
  </p>

  <h2>Personal</h2>
  <p>
    I'm 26 years old, married, and proud #girldad to my little 6-month old Stella. I'm a diehard Utah Jazz fan. I'm a nerd
    and honestly spend a lot of my free time writing code or hacking around on my computer, especially since COVID.
  </p>
</div>