<div class="flex flex-wrap w-full justify-center items-center my-16 px-12 md:justify-between md:flex-no-wrap md:px-0">
  <div class="order-2 md:order-1 text-center md:text-left">
    <div class="text-4xl md:text-4xl relative leading-tight">
      <span class="absolute hidden md:inline md:-ml-12">👋🏼</span>
      <h1>Hey, I'm Max Metcalf.</h1>
    </div>
    <h2 class="text-2xl mt-4">Welcome to my portfolio.</h2>
  </div>
  <div class="order-1 mb-8 md:mb-0">
    <div class="w-64">
      <%= image_tag 'maxmoji_computer.png' %>
    </div>
  </div>
</div>

<div class="w-full px-12 md:px-0 my-16">
  <div class="grid grid-cols-2 gap-4">
    <div class="col-span-2 text-center">
      <h2 class="text-2xl font-bold underline">Websites I've built</h2>
    </div>
    <div class="tilt-card">
      podnotes.fm
    </div>
    <div class="tilt-card">
      Nocial
    </div>
    <div class="tilt-card">
      Review Audit
    </div>
    <div class="tilt-card">
      LEK Associate Tools
    </div>
  </div>
</div>

<div class="w-full px-12 md:px-0 my-16">
  <div class="grid grid-cols-2 gap-4">
    <div class="col-span-2 text-center">
      <h2 class="text-2xl font-bold underline">Coding projects</h2>
    </div>
    <div class="tilt-card">
      Daily time tracker
    </div>
    <div class="tilt-card">
      Budget tool
    </div>
    <div class="tilt-card">
      Goals tracker
    </div>
    <div class="tilt-card">
      Money compounding calculator
    </div>
    <div class="tilt-card">
      Stock option price calculator
    </div>
  </div>
</div>